<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePrices(java.lang.String,double)[pri:2, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePrices</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePrices(java.lang.String,double)[pri:2, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePrices</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePrices(java.lang.String,double)[pri:2, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePrices</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePrices(java.lang.String,double)[pri:2, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePrices</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePrices(java.lang.String,double)[pri:2, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePrices</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePrices(java.lang.String,double)[pri:2, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePrices</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePrices(java.lang.String,double)[pri:2, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePrices</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePrices(java.lang.String,double)[pri:2, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePrices</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:08</td>   <td>-17841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePurchase(java.lang.String,double)[pri:1, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePurchase</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:08</td>   <td>-17841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePurchase(java.lang.String,double)[pri:1, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePurchase</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:08</td>   <td>-17841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePurchase(java.lang.String,double)[pri:1, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePurchase</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:08</td>   <td>-17841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePurchase(java.lang.String,double)[pri:1, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePurchase</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:08</td>   <td>-17841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePurchase(java.lang.String,double)[pri:1, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePurchase</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:08</td>   <td>-17841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePurchase(java.lang.String,double)[pri:1, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePurchase</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:08</td>   <td>-17841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePurchase(java.lang.String,double)[pri:1, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePurchase</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:08</td>   <td>-17841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidatePurchase(java.lang.String,double)[pri:1, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidatePurchase</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="e4b4b2">  <td>23/01/24 03:24:27</td>   <td>2061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003.ValidateSums()[pri:3, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">ValidateSums</td> 
  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="a8a6a0">  <td>23/01/24 03:23:34</td>   <td>-51635</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2109839984</td>   <td></td> </tr>
<tr bgcolor="a8a6a0">  <td>23/01/24 03:24:27</td>   <td>2070</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.assessment.testCases.TestCase003@6e9a5ed8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2109839984</td>   <td></td> </tr>
</table>
